@charset "UTF-8";

/* ######## CONFIGURAÇÕES GERAIS ######## */
*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../images/bg.png);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    display: flex;
}

#container{
    max-width: 1180px;
    min-width: 740px;
    width: 100%;
    margin: auto;
}

/* ######## CONFIGURAÇÕES DE HEADER ######## */

header{
    height: 250px;
    width: 100%;
    background: #dfd392 url(../images/topo-imagem-principal.png) no-repeat;
}

#logo{
    float: left;
    padding: 15px;
}

nav{
    height: 235px;
    width: 415px;
    background: transparent url(../images/topo-imagem-lateral.png) no-repeat;
    float: right;
    padding: 15px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

nav img{
    position: relative;
}

nav ul{
    line-height: 30px;
    font-size: 0.80em;
    margin-right: 10px;
    position: relative;
}

nav ul a{
    text-decoration: none;
    color: #6e672c;
    padding: 5px 5px;
}

nav ul a:hover{
    background-color: #fdf6be;
}

#locais{
    font-size: 0.70em;
    border-top: 1px solid #bfb565;
    border-bottom: 1px solid #bfb565;
    color: #6e672c;
    padding-top: 10px;
    height: 23px;
}

#locais span{
    margin-right: 60px;
}

#locais a{
    background-color: #a29750;
    text-decoration: none;
    color: #fdf6be;
    padding: 5px 10px;
}

ul{
    list-style: none;
}

/* ######## CONFIGURAÇÕES DE MAIN ######## */

main{
    display: flex;
    background: #ded9b7 url(../images/bg-container.png) repeat-y center top;
}

main p{
    margin: 16px 0;
    margin-top: 5px;
}

#leftColumn{
    flex: 1;
    background: #efeacc url(../images/bg-area-principal.png) repeat-x ;
    padding: 20px 30px;
}

#leftColumn h1{
    font-size: 1.1em;
    color: #7d7640;
    padding-bottom: 0;
}

#rightColumn{
    flex: 1;
    background: #ded9b7 url(../images/bg-area-lateral.png) repeat-x;
    padding: 20px 30px;
}

#rightColumn a{
    text-decoration: none;
    color: black;
    height: 100px;
}

#rightColumn li{
    padding: 10px;
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#rightColumn li:hover{
    background-color: #f3efcb;
    cursor: pointer;
}

#rightColumn h2{
    background: transparent url(../images/ornamento.png) no-repeat right center;
    font-size: 1em;
    color: #6e672c;
    padding-bottom: 0;
}

#rightColumn img{
    max-width: 150px;
    margin-right: 10px;
    float: left;
}

#rightColumn p{
    font-size: 0.8em;
}

/* ######## CONFIGURAÇÕES DE FOOTER ######## */
footer{
    background: #fff url(../images/bg-rodape.png) repeat-x;
    padding: 15px;
    color: #7d7640;
}