@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #36D3FF, #18AFD9);
}

main{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #185a6da1;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D97618;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

h2{
    color: #2696B6;
}

p{
    text-align: justify;
}